/* Général */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 237, 36);
    font-family: "Red Hat Display";
}

html {
    scroll-behavior: smooth;
}

/* Transition */

a,
.btn {
    transition: all 300ms ease;
}

/* Navigation */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 10px;
    padding: 0px 150px;
}

.nav-links {
    gap: 3rem;
    list-style: none;
    font-size: 1rem;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(211, 192, 45);
    text-decoration: none;
    text-underline-offset: 0.5rem;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Croissant One";
}

.logo:hover {
    cursor: default;
}

/* Menu hamburger */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 300ms ease;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links li a {
    font-size: 1rem;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open :nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* Section */

.container {
    margin: auto 30px;
    background-color: black;
    border-radius: 1rem;
    display: flex;
}

#description {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#description h1 span{
    display: flex;
    : right;
}

#description h1 span:first-child{
    display: flex;
    justify-content: center;
    font-family: "Croissant One";
    font-size: 3.2rem;
    color: white;
}

#description h1 span:nth-child(2){
    font-family: "Croissant One";
    font-size: 3.2rem;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: black;
    background-color: rgb(255, 237, 36);
    padding: 0px 15px;
    border-right: 0.15em solid white;
    white-space: nowrap;
    animation: typing 2.5s steps(30), /*effet de taper*/
    blink-caret 0.9s step-end infinite; /*effet du curseur qui clignote*/
}

@keyframes typing {
from {
    width: 0
}

to {
    width: 53%
}
}

@keyframes blink-caret {
50% {
    border-color: transparent;
}
}

#ma-photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

#photo-moi {
    width: 400px;
    height: 400px;
}

#photo-moi {
    border-radius: 48% 52% 68% 32% / 30% 47% 53% 70%;
    border: rgb(255, 237, 36) 5px solid;
}

/* Boutons */

#boutons {
    gap: 2rem;
    display: flex;
    justify-content: center;
}

#boutons a {
    text-decoration: none;
}

#bouton-projet,
#bouton-contact {
    font-size: 1rem;
    padding: 10px 20px 12px 25px;
    border: none;
    border-radius: 60px;
    display: flex;
    align-items: center;
}

#bouton-projet {
    background-color: rgb(255, 237, 36);
    color: black;
}

#bouton-projet img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

#bouton-contact {
    background-color: black;
    color: rgb(255, 237, 36);
    border: white 1.5px solid;
}

#bouton-contact img {
    width: 28px;
    height: 28px;
    padding-left: 7px;
}

#bouton-projet:hover {
    background-color: rgb(224, 207, 25);
    border: rgb(224, 207, 25);
    transition: all 0.2s ease-in-out;
}

#bouton-contact:hover {
    background-color: rgb(45, 45, 45);
    transition: all 0.2s ease-out;
}


