@media screen and (min-width: 1230px) and (max-width: 1820px) {

    #description {
        margin-left: 50px;
    }

    #description h1 {
        width: 650px;
    }

    #photo-moi {
        margin: 0;
    }

    #titre-tri-projets {
        padding-top: 40px;
    }

    #projets-titre {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }

    #projets-titre h2 {
        font-size: 2vw;
    }

    #projets-titre h3 {
        font-size: 1vw;
    }
    
    #btn-container {
        display: flex;
        align-items: center;
    }

    .checkbox-wrapper-33 .checkbox .icon-checkbox {
        width: 30px;
    }

    .container-projets {
        height: 100%;
    }

    .grid-container {
        margin: 30px;
        grid-gap: 30px;
    }

    .filterDiv {
        width: 1fr;
        height: 1fr;
    }

    .div-projet-img {
        display: flex;
        width: 40%;
    }

    .div-projet-img img {
        width: 100%;
    }

    .div-description-projet {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .div-description-projet h3 {
        font-size: 1.3vw;
    }

    .filterDiv.adobePhotoshop.adobeIndesign.adobeIllustrator .div-description-projet h3 br {
        display: none;
    }

    .div-description-projet p {
        font-size: 0.75vw;
    }

    .container-hover {
        width: 102%;
        height: 100%;
    }

    .div-logiciels h5 {
        font-size: 0.6em;
    }

    .div-logiciels img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 780px) and (max-width: 1230px) {

    #description {
        margin-left: 15px;
    }

    #description h1 {
        width: 320px;
    }

    #description h1 span:first-child {
        font-size: 1.5rem;
        letter-spacing: normal;
    }

    #description h1 span:last-child {
        font-size: 1.5rem;
        letter-spacing: normal;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    #description p br {
        display: none;
    }

    #description img {
        width: 40px;
        height: 40px;
    }

    #photo-moi {
        margin: 0;
        width: 300px;
        height: 300px;
    }

    #titre-tri-projets {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    #projets-titre h2,
    #projets-titre h3 {
        text-align: center;
        margin: 10px 0px;
    }

    #filtre-projets {
        margin: 10px 30px;
    }

    #titre-filtres h4 {
        text-align: center;
        margin-top: 30px;
    }

    #btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .checkbox-wrapper-33 .checkbox .icon-checkbox {
        width: 30px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 30px;
        grid-gap: 30px;
    }

    .filterDiv {
        width: 1fr;
        height: 1fr;
    }

    .div-projet-img {
        display: flex;
        width: 40%;
    }

    .div-projet-img img {
        width: 100%;
    }

    .div-description-projet {
        width: 60%;
    }

    .div-description-projet h3 {
        font-size: 3vw;
    }

    .filterDiv.adobePhotoshop.adobeIndesign.adobeIllustrator .div-description-projet h3 br {
        display: none;
    }

    .div-description-projet p {
        font-size: 1.3vw;
    }

    .filterDiv:last-child .container-hover {
        width: 101%;
        height: 100%;
    }

    .filterDiv:not(:last-child) .container-hover {
        width: 0%;
        height: 0%;
    }

    .div-logiciels h5 {
        font-size: 0.8em;
    }

    .div-logiciels img {
        width: 3vw;
        height: 3vw;
    }

    #bloc-localisation,
    #bloc-mail {
        border: none;
    }

    #bloc-localisation:hover,
    #bloc-mail:hover {
        border: none;
    }
}

@media screen and (max-width: 780px) {
    #navbar {
        top: 0;
    }

    .logo {
        font-size: 15pt;
    }

    .container-description {
        display: flex;
        flex-direction: column;
        top: 100px;
        margin: 30px 20px -0px 20px;
        height: 100%;
    }

    #description {
        margin-left: 5px;
        margin-top: 20px;
    }

    #description br {
        display: flex;
    }

    #description h1 {
        display: flex;
        width: 280px;
        flex-direction: column;
        padding-top: 10px;
    }

    #description h1 span:first-child {
        font-size: 1.8rem;
        font-family: "Croissant One";
        overflow: hidden;
        color: black;
        background-color: rgb(255, 237, 36);
        padding: 0 5px;
        border-right: 0.15em solid white;
        white-space: nowrap !important;
        margin: 0;
        animation: typing 1.5s steps(30),
            /*effet de taper*/
            blink-caret 0.9s step-end infinite;
        /*effet du curseur qui clignote*/
        justify-content: flex-start;
        align-self: center;
    }

    @keyframes typing {
        from {
            width: 0%
        }

        to {
            width: 85%
        }
    }

    #description h1 span:last-child {
        font-size: 1.8rem;
        letter-spacing: normal;
        text-align: center;
        line-height: 30px;
        animation: none;
        background-color: black;
        color: white;
        border: none;
        align-self: center;
        padding-top: 5px;
    }

    #description p br {
        display: none;
    }

    #description p {
        font-size: 0.9rem;
        margin: 18px 30px;
    }

    #description-boutons {
        display: flex;
        gap: 1rem;
    }

    #description-boutons img {
        width: 35px;
        height: 35px;
    }

    #ma-photo {
        width: 100%;
        height: 100%;
        margin: 20px 0px 30px 0px;
    }

    #photo-moi {
        margin: 0;
        width: 150px;
        height: 150px;
        border: 3px solid rgb(255, 237, 36);
    }

    #container-projets {
        height: auto;
        padding-bottom: 5px;
    }

    #titre-tri-projets {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    #projets-titre h2,
    #projets-titre h3 {
        text-align: center;
        margin: 10px 0px;
    }

    #projets-titre h2 {
        font-size: 5vw;
    }

    #projets-titre h3 {
        margin: 0px 30px 20px 30px;
        font-size: 3vw;
    }

    #filtre-projets {
        display: none;
    }

    #filtre-projets-mobile {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #titre-filtres-mobile {
        background-color: rgb(255, 237, 36);
        border-radius: 60px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        cursor: pointer;
    }

    #titre-filtres-mobile h4 {
        color: black;
        margin: auto;
    }

    #titre-filtres-mobile h4 span{
        display: inline-block;
        transform: rotate(-180deg);
    }

    #btn-container-mobile {
        display: flex;
        border: rgb(255, 237, 36) 1px solid;
        padding: 20px;
        flex-direction: column;
        align-self: center;
        gap: 30px;
        background-color: black;
        z-index: 9999999;
        transition: all 0.5s ease;
        opacity: 0;
        visibility: hidden;
        margin-bottom: -250px;
    }

    #btn-container-mobile.mobile-menu-tri{
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 30px;
        grid-gap: 30px;
        position: relative;
    }

    .filterDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: auto;
    }

    .div-projet-img {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 30px 0px 0px -5px;
    }

    .div-projet-img img {
        width: 100%;
        height: 100%;
    }

    .div-description-projet {
        margin: auto;
        width: 100%;
    }

    .btn-mobile-decouvrir{
        display: flex;
        margin-bottom: 20px;
    }

    .btn-mobile-decouvrir button {
        background-color: rgb(255, 237, 36);
        border-radius: 60px;
        border: 0px;
        width: 40vw;
        height: 8vw;
        color: black;
        font-family: "Red Hat Display";
        font-weight: bold;
        cursor: pointer;
    }

    .div-description-projet a {
        text-decoration: none;
    }

    .div-description-projet h3 {
        font-size: 6vw;
        margin-bottom: 20px;
    }

    .filterDiv.adobePhotoshop.adobeIndesign.adobeIllustrator .div-description-projet h3 br {
        display: none;
    }

    .div-description-projet p {
        font-size: 3vw;
        margin-bottom: 20px;
    }

    .filterDiv:last-child .container-hover {
        width: 101%;
        height: 100%;
    }

    .filterDiv:not(:last-child) .container-hover {
        width: 0%;
        height: 0%;
    }

    .div-logiciels h5 {
        font-size: 0.8em;
    }

    .div-logiciels img {
        width: 5vw;
        height: 5vw;
    }

    #container-contact {
        height: auto;
        margin-bottom: 150px;
        padding-bottom: 10px;
        z-index: 2;
    }

    #bloc-contact, #bloc-localisation, #bloc-mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 0px;
    }

    #bloc-mail {
        margin-bottom: 10px;
    }

    #icon-localisation, #icon-mail{
        padding: 0px;
    }

    #titre-contact h2 {
        font-size: 5vw;
    }

    #titre-contact h3{
        font-size: 3vw;
    }

    #bloc-localisation,
    #bloc-mail {
        border: none;
    }

    #bloc-localisation:hover,
    #bloc-mail:hover {
        border: none;
    }

    #bloc-contact h4{
        font-size: 3vw;
    }

    #bloc-contact .texte-contact p{
        font-size: 2vw;
    }
}

@media screen and (max-width: 360px) {

    .container-description {
        display: flex;
        flex-direction: column;
        top: 130px;
        margin-bottom: 20px;
        height: 620px;
    }

    #description {
        margin-left: 5px;
        margin-top: 20px;
    }

    #description br {
        display: flex;
    }

    #description h1 {
        display: flex;
        width: 280px;
        flex-direction: column;
        padding-top: 10px;
    }

    #description h1 span:first-child {
        font-size: 1.8rem;
        letter-spacing: normal;
        font-family: "Croissant One";
        overflow: hidden;
        color: black;
        background-color: rgb(255, 237, 36);
        padding: 0 5px;
        border-right: 0.15em solid white;
        white-space: nowrap !important;
        margin: 0;
        animation: typing 1.5s steps(30),
            /*effet de taper*/
            blink-caret 0.9s step-end infinite;
        /*effet du curseur qui clignote*/
        justify-content: flex-start;
        align-self: center;
    }

    @keyframes typing {
        from {
            width: 0%
        }

        to {
            width: 95%
        }
    }

    #description h1 span:last-child {
        font-size: 1.8rem;
        letter-spacing: normal;
        text-align: center;
        line-height: 40px;
        animation: none;
        background-color: black;
        color: white;
        border: none;
        align-self: center;
        padding-top: 5px;
    }

    #description p br {
        display: none;
    }

    #description p {
        font-size: 0.9rem;
        margin: 18px 30px;
    }

    #description-boutons {
        display: flex;
        gap: 1rem;
    }

    #description-boutons img {
        width: 25px;
        height: 25px;
    }

    #ma-photo {
        width: 100%;
        height: 100%;
    }

    #photo-moi {
        margin: 0;
        width: 150px;
        height: 150px;
        border: 3px solid rgb(255, 237, 36);
    }

    .container-projet {}
}

@media screen and (max-width: 700px) {
    .logo {
        margin-left: 30px;
    }

    #icon-menu {
        display: block;
        width: 40px;
        z-index: 1;
        margin: 30px;
    }

    #navbar {
        padding: 0;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 237, 36, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        gap: 3em;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    nav a:hover {
        color: black;
        text-decoration: none;
    }

    nav a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bolder;
        border: 1.5px black solid;
        padding: 15px 30px;
    }


    .mobile-menu {
        margin-left: 0px;
    }
}